@CHARSET "UTF-8";

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #2C3E50;
    margin: 10px;
}

h1 {
    font-size: 80px;
    color: #ff0000;
}

h2 {
    font-size: 30px;
    color: #ff0000;
}
